# OS
.DS_Store
Thumbs.db

# Editors / IDEs
.idea/
.vscode/
*.iml
*.swp
*.swo
*.code-workspace

# Python / Django
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
.mypy_cache/
.pytest_cache/
.coverage
htmlcov/
*.egg-info/
.eggs/
dist/
build/
*.log
.env
.env.*
.venv/
venv/
ENV/
db.sqlite3
*.sqlite3
media/
staticfiles/

# Flutter / Dart
**/build/
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.pub/
.pub-cache/
**/ios/Flutter/.last_build_id
**/android/app/debug
**/android/app/profile
**/android/app/release

# Android
**/local.properties
